# =========================
# Data (DO NOT COMMIT)
# =========================
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/samples/**

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# MT5 / Tester junk
# =========================
*.log
*.set
tester/
